$font-size: (
  small: (
    h1: Clamp(1.6rem, 5vw, 2.5rem),
    h2: Clamp(1.25rem, 5vw, 1.5rem),
    h3: Clamp(1.25rem, 5vw, 1.5rem),
    h4: Clamp(1.25rem, 5vw, 1.5rem),
    h5: Clamp(1.25rem, 5vw, 1.5rem),
    h6: Clamp(1.25rem, 5vw, 2.25rem),
    p: Clamp(0.95rem, 4vw, 1rem),
    a: Clamp(0.85rem, 2vw, 0.95rem),
    small: Clamp(0.7rem, 2vw, 0.8rem),
    strong: Clamp(1.25rem, 5vw, 2.5rem),
    button: Clamp(1rem, 5vw, 1rem),
  ),
);

$font-weight: (
  heading: (
    regular: 400,
    bold: 700,
  ),
  body: (
    regular: 400,
    bold: 700,
  ),
);
