@use "../components/media-query" as *;
.footer {
  position: relative;
  row-gap: var(--size-500);
  &::before {
    content: "";
    position: absolute;
    inset: -40% 0 0 0;
    background-color: var(--clr-primary-400);
    z-index: -1;
  }

  &__logo {
  }

  &__lower {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr 0.5fr 0.5fr;
    gap: var(--size-500);
    > * {
      grid-column: 1 / -1;
    }

    &--info {
      display: flex;
      flex-direction: column;
      gap: var(--size-300);

      &__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--size-300);

        img {
          margin-top: 0.25rem;
        }
      }

      &__other {
        display: flex;
        flex-direction: column;
        gap: var(--size-300);
      }
    }

    &--navigation {
      display: flex;
      flex-direction: column;
      gap: var(--size-200);
      li a {
        text-decoration: none;
        color: var(--clr-neutral-100);
        &::before {
          content: "";
          position: absolute;
          inset: 95% 100% 0 0;
          background-color: currentColor;
        }
        &:hover {
          font-weight: var(--fw-heading-bold);
        }
      }
    }

    &--links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--size-200);

      li {
        color: var(--clr-neutral-100);
        padding: 0.5rem;
        border: 1px solid currentColor;
        border-radius: 2rem;
        a {
          display: block;
          width: 1rem;
          height: 1rem;
          color: var(--clr-neutral-100);
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
          background-color: currentColor;
        }

        &:hover {
          color: var(--clr-accent-100);
          a {
            color: var(--clr-accent-100);
          }
        }
      }
      li:nth-child(1) a {
        mask-image: url("../images/facebook.svg");
      }
      li:nth-child(2) a {
        mask-image: url("../images/twitter.svg");
      }
      li:nth-child(3) a {
        mask-image: url("../images/instagram.svg");
      }
    }
  }

  @include mq(medium) {
    &__lower {
      align-items: flex-start;
      gap: var(--size-600);
      &--info {
        grid-column: 1 / 2;

        flex-direction: row;
        gap: var(--size-600);
      }

      ul {
        justify-self: end;
      }
      &--navigation:nth-child(2) {
        grid-column: 2 / 3;
      }
      &--navigation:nth-child(3) {
        grid-column: 3 / 4;
      }

      &--links {
        grid-column: 4 / 5;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
