.primary__header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &--logo {
    grid-column: 1 / 3;
  }

  &--navigation {
    grid-column: 4 / 7;
    align-content: center;
    display: grid;
    align-content: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > li a {
        text-decoration: none;
      }
    }
  }
}
